@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

body {
  font-family: "Raleway";
}

h1 {
  font-family: "Raleway";
}
h2 {
  font-family: "Raleway";
}
h3 {
  font-family: "Raleway";
}
h4 {
  font-family: "Raleway";
}
p {
  font-family: "Raleway";
}
section {
 font-size: 100%;
 font-family: "Raleway";
}
.wy-nav-content {
    max-width: 1200px !important;
}
footer {
  background-color:  #34A6E7;
  text-decoration-color: #FFFFFF;
  color: #FFFFFF;
}
.highlighttable .code pre {
    font-size: 12px;
    font-family: monospace;
}
.highlighttable .linenos pre {
    word-break: normal;
    font-size: 12px;
    font-family: monospace;
}
div.highlight {
  background: none;
  font-family: monospace;
}
